body {
  margin: 0;
}

.header {
  height: 96px;
  border: 2px solid black;
  clear: both;
}

.main {
  height: 200px;
}

.main__content,
.main__aside-left,
.main__aside-right {
  height: 196px;
  float: left;
  width: calc(100% - 504px);
  border: 2px solid black;
}

/* .main__content {} */

.main__aside-left {
  width: 296px;
}

.main__aside-right {
  width: 196px;
}

.footer {
  border: 2px solid black;
  height: 96px;
  clear: both;
}