* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  border: 2px solid black;
  height: 100px;
  /*   clear: both; */
}

.main__content,
.main__aside-left,
.main__aside-right {
  border: 2px solid black;
  height: calc(100vh - 200px);
  float: left;
}

.main__content {
  width: calc(100vw - 300px - 200px);
  margin-left: 300px;
}

.main__aside-left {
  width: 300px;
  margin-left: calc(-100vw - -200px);
}

.main__aside-right {
  width: 200px;
  /*   float: right; */
}

.footer {
  border: 2px solid black;
  height: 100px;
  clear: both;
}